<div class="card mt-4">
  <div class="card-header">
<h2>Dashboard</h2>
</div>
<div class="card-body">
<p> <%= link_to "Number of Products: #{@product_count}", '/admin/products', class: 'text-decoration-none' %></p>
<p><%= link_to "Number of Categories: #{@category_count}", '/admin/products', class: 'text-decoration-none' %></p>
</div>
